/* thanks to franklin for a good starting point
https://dev.to/franklin030601/using-dark-mode-in-your-react-app-5364
*/

:root {
  --primary: #222;
  --highlight: #daf;
  --primary-highlight: #84a;
  --background: #eee;
  --background-transparent: #eeea;
  
  --player-size: 128px;

  color-scheme: light;
}
:root.dark {
  --primary: #eee;
  --highlight: rgb(190, 158, 1);
  --primary-highlight: rgb(218, 191, 12);
  --background: #222;
  --background-transparent: #222a;

  color-scheme: dark;
}
.theme-invert {
  will-change: filter;
  transition: filter 250ms;
}
:root.dark img.theme-invert {
  filter: invert(1);
}
