.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  & p {
    margin: 8px 0;
  }
}

.logo {
  height: 16px;
  margin-left: 8px;
}

.line {
  flex: 1 0 40%;
  margin: 0 16px;
  border: 1px solid var(--primary-highlight);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: spin infinite 10s linear;
  }
}

@media (orientation: landscape) {
  .footer {
    flex-wrap: nowrap;
  }
  .line {
    flex: 1;
  }
}
