.reactMarkdown {
  width: 80%;
  max-width: 800px;
  padding: 16px;
  margin: 64px auto 256px auto;
  background: var(--background);
  color: var(--primary);

  & img {
    max-width: 100%;
  }

  & * {
    word-wrap: break-word;
    text-overflow: ellipsis !important;
  }
}